/**
* LineChart.css class adds the css styles to LineChart.js.
* version- 1.0
* author- V.Vishnu Priya(12-07-2020)
**/
body { font: 12px Arial;}

path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
